@font-face {
    font-family: "roboto";
    src: url('../Roboto/Roboto-Regular.ttf');
}
body {
    height: 97vh;
    font-family: "roboto";
    margin: 0;
    background-image: url("../img/cityline.jpg");
    background-repeat: no-repeat;
    background-position:left 0 bottom;
    background-size: cover;
}
.filter{
    height: 100vh;
    width:100vw;
    background-color: rgba(0,0,0,0.1);
}
.peer {
    width: 100vw;
    height: 70px;
    background: rgba(255, 255, 255, 0.9);
    border-bottom: solid gray 1px;
}

.circle {
    float: left;
    height: 50px;
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    /*background: blue;*/
    text-align: center;
}

.initial {
    text-transform: uppercase;
    color: white;
    margin-top: 10px;
    font-size: 25px;
}

.call {
    font-size: 20px;
    padding-top: 22px;
    margin-left: 80px;
}

.modal {
    position: absolute;
    display: none;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(100, 100, 100, 0.5);
}

.modal-content {
}

#peers.modal{
    animation-name: slideIn;
    animation-duration: 0.5s;
}
@-webkit-keyframes slideIn {
    from {bottom: -1000px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -1000px; opacity: 0}
    to {bottom: 0; opacity: 1}
}
#call-list{
    position: absolute;
    right: 60px;
    bottom: 30px;
    border-radius: 50%;
    background: #64b5f6;
    width: 70px;
    height: 70px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
#call-list img{
    margin: 15px;
}
.close{
    font-size: 20px;
    margin: 10px;
    text-align: right;
}