body {
    background-color: #fff9c4;
}

.call {
    float: left
}

.modal {
    position: absolute;
    display: none;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(100, 100, 100, 0.5);
}