<div class="close" onclick="closeModal('peers')">X</div>
{{#each allPeers}}
    <div class="peer">
        <div class="circle">
            <div class="initial">
                {{initial}}
            </div>
        </div>
        <div class="call" data-id="{{id}}">
            {{nick}}
        </div>
    </div>
{{/each}}